# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# TypeScript
*.tsbuildinfo

# Production
build/
app.js
indeed.js
nerdin.js
scraper.js
types.js

# dotenv environment variables file
.env

# IDEs and editors
.idea/
.vscode/
*.swp

# MacOS files
.DS_Store
